* {
  padding: 0;
  margin: 0;
}

.grid3x2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.kayakgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card p:first-child {
  color: rgb(0, 232, 116);
}

.card {
  border: red solid 1px;
  margin: 0;
  padding: 3px;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
