* {
  padding: 0;
  margin: 0;
}

header{
  margin: 20px;
}

header p{
  font-size: 36px;
}

h1{
  margin-left: 20px;
}

.grid3x2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.kayakgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.card img {
  object-fit: contain;
  aspect-ratio: 1:1;
  width: 100%;
}

.card p:first-child {
  color: rgb(0, 232, 116);
}

.card {
  /* border: red solid 1px; */
  margin: 0;
  padding: 3px;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  border-radius: 7px;
}

.udsolgt{
  position: relative;
  text-align: center;
}

.udsolgt p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(72, 72, 72);
  font-size: 75px;
}

.udsolgt img{
  opacity: 80%;
}

.details{
  color:rgb(117, 117, 117);
}