@font-face {
  font-family: "sunflower";
  src: url(../font/Sunflower-Medium.woff);
}

* {
  padding: 0;
  margin: 0;
  font-family: "sunflower";
}

body {
  background-color: rgba(0, 187, 255, 0.397);
}

header {
  margin: 20px;
}

header a {
  font-size: 36px;
  color: brown;
  font-weight: 900;
}

h1 {
  margin-left: 20px;
}

.grid3x2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.sportsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.card p:first-child {
  color: rgb(0, 232, 116);
}

.card {
  /* border: red solid 1px; */
  margin: 0;
  padding: 3px;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  border-radius: 7px;
}

.udsolgt {
  position: relative;
  text-align: center;
}

.udsolgt p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(72, 72, 72);
  font-size: 75px;
}

.udsolgt img {
  opacity: 80%;
}

.card img {
  width: 100%;
}

.details {
  color: rgb(117, 117, 117);
}

.indexbutton {
  background-color: aquamarine;
  margin: 10px 20px;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  transition: 0.25s;
  &:hover {
    opacity: 0.65;
  }
}
